body{color:rgb(42, 33, 202);
background:pink;
}
.heading {
width:80%;
font-size:22px;
}
.name_of_objects,#result_object_name,#result_object_accuracy{
color:rgb(255, 111, 0);
font: size 40px;
}